pre {
  white-space: pre-wrap;  /* Allows text to wrap */
  font-size: 1.05rem;
}

body {
  filter: drop-shadow(0 0 3rem rgb(187, 95, 2));
}

.content {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 60%;
}

@media (max-width: 1440px) {
  .content {
    width: 70%;
  }
}

@media (max-width: 1024px) {
  .content {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .content {
    width: 95%;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    /* animation: logo-spin infinite 1s linear; */
  }
}
